body
{
    background-color: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

html
{
    overflow: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover
{
    color:deepskyblue;
    text-decoration: none;
    cursor: pointer;
}

.Shout
{
    display: block;
    padding-top: 20vh;
    padding-bottom: 20vh;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
    color: gainsboro;
    font-size: 50px;
    font: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.SocialLogo
{
    height: 100px;
    width: 100px;
}

.SocialLinks
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    justify-content: space-evenly;
    color: gainsboro;
    font-size: 40px;
    font: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.LargeLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
}

.UtilityNavigation
{
    display: flex;
    width: 100%;
    text-align: center;
    color: gainsboro;
    background-color: black;
    opacity: 0.5;
    font-size: larger;
    font: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 25px;
    justify-content: space-evenly;
    overflow: hidden;
    top: 0%;
    left: 0%;
    position: absolute;
}

.Headshot
{
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}